canvas {
  display: block;
}

tw-story {
  background: transparent !important;
}

tw-passage {
  background: transparent !important;
}

#p5-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;   
}

/* #blackout {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
} */

#blackout.available {
  opacity: 1 !important;
}
